DATABASE_URL="" 				# Provide a value for DATABASE_URL

BACKEND_PORT="" 				# Provide a value for BACKEND_PORT
NODE_ENV="" 				# Provide a value for NODE_ENV
JWT_SECRET="" 				# Provide a value for JWT_SECRET

BETTER_AUTH_SECRET="" 				# Provide a value for BETTER_AUTH_SECRET
BETTER_AUTH_URL="" 				# Provide a value for BETTER_AUTH_URL